*{
    box-sizing: border-box;
    font-family: "Arial Black", Gadget, sans-serif
  }
  body{
    background-color: black;
  }
  #main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 0 10%;
  }
  #heading{
    display: grid;
    place-items: center;
    background-color:white;
    border-radius: 10px;
    padding: 30px;
  }
  h1, h3{
    margin: 0;
    text-shadow: 3px 3px 3px lightgray;
  }
  #chatbox{
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;
    overflow-y: scroll;
  }
  .message{
    display: grid;
    grid-template-columns: 1fr 65px 10fr 1fr;
    grid-gap: 10px;
    padding: 5px;
    border-radius: 5px;
  }
  .message:hover{
    background-color: lightgray;
  }
  input{
    width: 100%;
    font-size: 1.5rem;
    padding: 5px;
  }
  button{
     display:inline-block;
     height:50px;
     font-size: 2rem;
     padding:0.35em 1.2em;
     border:0.1em solid #FFFFFF;
     margin:0 0.3em 0.3em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     text-align:center;
     transition: all 0.2s;
  }
  button:hover{
   color:#000000;
   background-color:tan;
  }

  .sender{
    color: gray;

  }
  .delete{
    cursor: pointer;
    justify-self: end;
  }